<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/third-party/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/style.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/plugins.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/demo.css" />
    <title th:text="#{recovery.password.title}"></title>
  </head>
  <body class="login">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="login-banner text-center">
            <h1>
              <img src="/assets/third-party/vetlog-theme/img/flex-admin-logo.png" th:src="@{/assets/third-party/vetlog-theme/img/flex-admin-logo.png}"/>
            </h1>
          </div>

          <div class="portlet portlet-green">
            <div class="portlet-heading login-heading">
              <div class="portlet-title">
                <h4 th:text="#{recovery.password.title}"/>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="portlet-body">
              <div th:if="${error}">
                <div align="center">
                  <p th:text="${error}"/>
                </div>
              </div>
              <form th:action="@{/recovery/password}" method='POST' id='loginForm' class='cssform' autocomplete='off'>
                <fieldset>
                  <label for="email"><h4 th:text="#{user.email}"/></label>
                  <input type="text" name='email' class="form-control" placeholder="email" id='email'/>
                  <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                  <br/><br/>
                  <button id="btn-success" type="submit" class="btn btn-lg btn-primary btn-block"><h5 th:text="#{button.submit}"/></button>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>

