<!DOCTYPE html>
<html>
  <head>
    <title th:text="#{recovery.password.view.title}"></title>
    <th:block layout:include="fragments/include"/>
  </head>
  <body class="login">
  <th:block layout:include="fragments/header"/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="portlet portlet-green">
            <div class="portlet-body">
              <div th:if="${error}">
                <div align="center">
                  <p th:text="${error}"/>
                </div>
              </div>
              <form th:action="@{/recovery/password}" th:object="${recoveryPasswordCommand}" method='POST' id='loginForm' class='cssform'>
                <fieldset>
                  <label for="email"><h4 th:text="#{user.email}"/></label>
                  <input type="text" name='email' class="form-control" placeholder="email" id='email'/>
                  <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                  <br/><br/>
                  <button id="btn-success" type="submit" class="btn btn-lg btn-primary btn-block"><h5 th:text="#{button.submit}"/></button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <th:block layout:include="fragments/footer"/>
  </body>
</html>

