<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/third-party/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/style.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/plugins.css" />
    <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/demo.css" />
    <title th:text="#{recovery.password.title}"></title>
  </head>
  <body class="login">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="login-banner text-center">
            <h1>
              <img src="/assets/third-party/vetlog-theme/img/flex-admin-logo.png" th:src="@{/assets/third-party/vetlog-theme/img/flex-admin-logo.png}"/>
            </h1>
          </div>

          <div class="portlet portlet-green">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h4 th:text="#{recovery.password.title}"/>
              </div>
            </div>

            <div class="portlet-body">
              <div th:if="${error}">
                <div align="center">
                  <p th:text="${error}"/>
                </div>
              </div>
              <div id="greenPortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                  <form th:action="@{/recovery/save}" method='POST' id='loginForm' class='cssform' autocomplete='off'>
                    <br/>
                    <div class="col-md-12">
                      <label for="email"><h4 th:text="#{user.email}"/></label>
                      <br/><br/>
                      <input type="text" name='email' class="form-control" placeholder="email" id='email'/>
                      <br/>
                      <button id="btn-success" type="submit" class="btn btn-lg btn-primary btn-block"><h5 th:text="#{button.submit}"/></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>

