<!DOCTYPE html>
<html>
  <head>
    <title th:text="#{pet.view.list.title}"></title>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <th>Name</th>
          <th>Birthdate</th>
          <th>Breed</th>
          <th>Dewormed</th>
          <th>Sterilized</th>
          <th>Vaccinated</th>
        </tr>
        <tr th:each="pet : ${pets}">
          <td><img style="width:320px;height:240px;" th:attr="src=@{${awsImageUrl} + ${pet.images.get(0).uuid}}"/></td>
          <td th:text="${pet.name}"></td>
          <td th:text="${pet.birthDate}"></td>
          <td th:text="${pet.breed.name}"></td>
          <td th:text="${pet.dewormed}? #{true} : #{false}"></td>
          <td th:text="${pet.sterilized}? #{true} : #{false}"></td>
          <td th:text="${pet.vaccinated}? #{true} : #{false}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
