<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{pet.view.list.title}"></title>
    <head th:insert="~{fragments/include}"/>
    <script th:src="@{/assets/servizi-dog-theme/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/servizi-dog-theme/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/javascript/delete.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header}"/>
<br/><br/>
<br/><br/>
<br/><br/>
<div class="container">
    <div class="row">
        <div th:if="${pets.isEmpty()}">
            <div align="center">
                <p th:text="#{pet.list.empty}"/>
                <a th:href="@{/pet/create}" class="btn btn-success"><p th:text="#{pet.register}"/></a>
            </div>
            <br/><br/>
        </div>
        <div th:each="pet : ${pets}">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div th:if="${!pet.images.isEmpty()}">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div th:each="image : ${pet.images}" class="item"
                                     th:classappend="|${pet.images.indexOf(image) == 0 ? 'active' : ''}|"
                                     align="center">
                                    <img style="width:650px;height:400px;"
                                         th:attr="src=@{${gcpImageUrl} + ${image.uuid}}"/>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div th:if="${pet.images.isEmpty()}" align="center">
                        <img style="width:320px;height:300px;" th:attr="src=@{${gcpImageUrl} + ${defaultImage}}"/>
                    </div>
                    <div class="caption">
                        <h3 th:text="${pet.name}"></h3>
                        <p>
                        <ul>
                            <li th:text="${@dateFormatter.formatToDate(pet.birthDate, #locale)}"/>
                            <li th:text="${pet.breed.name}"/>
                            <li th:text="${pet.dewormed}? #{pet.dewormed} : #{pet.not.dewormed}"/>
                            <li th:text="${pet.sterilized}? #{pet.sterilized} : #{pet.not.sterilized}"/>
                            <li th:text="${pet.vaccinated}? #{pet.vaccinated} : #{pet.not.vaccinated}"/>
                        </ul>
                        </p>
                        <br/>
                        <center>
                            <a th:href="@{/petlog/list(uuid=${pet.uuid})}" class="btn btn-primary">
                                <p th:text="#{petlog.list}"/>
                            </a>
                            <a th:href="@{/pet/edit(uuid=${pet.uuid})}" class="btn btn-success">
                                <p th:text="#{pet.edit}"/>
                            </a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#flipFlop">
                                <p th:text="#{pet.delete}"/>
                            </a>
                        </center>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The modal -->
    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel">Delete a Pet</h4>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete" onclick="deletePet('hello')">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
<div th:insert="~{fragments/footer}"/>
</body>
</html>
