<html>
  <head>
    <th:block layout:include="fragments/include"/>
      <title th:text="#{pet.view.list.title}"></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">
        <img src="/assets/third-party/vetlog-theme/img/flex-admin-logo.png" th:src="@{/assets/third-party/vetlog-theme/img/flex-admin-logo.png}"/>
      </a>
    </nav>
    <br/><br/><br/>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 th:text="#{adoption.name}" />
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a th:href="@{/}" th:text="#{home.name}" />
            </li>
            <li class="active" th:text="#{adoption.description}" />
          </ol>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img style="width:320px;height:240px;" th:attr="src=@{${awsImageUrl} + ${pet.images.get(0).uuid}}"/>
              <div class="caption" align="center">
                <h3 th:text="${pet.name}"></h3>
                <p th:text="${beans.dateFormatter.format(pet.birthDate)}" />
                <p th:text="${pet.breed.name}" />
                <p th:text="${pet.dewormed}? #{pet.dewormed} : #{pet.not.dewormed}" />
                <p th:text="${pet.sterilized}? #{pet.sterilized} : #{pet.not.sterilized}" />
                <p th:text="${pet.vaccinated}? #{pet.vaccinated} : #{pet.not.vaccinated}" />
                <br/>
                <form id="description" th:action="@{/adoption/save}" th:object="${adoptionCommand}" method="post" class="form-horizontal">
                <fieldset>
                <label for="description"><h4 th:text="#{pet.description}"/></label>
                <textarea name="description" th:field="*{description}" rows="8" class="form-control" placeholder="Description"  id='description' />
                <input type="hidden" th:value="${adoptionCommand.uuid}" name="uuid" />
                <br/><br/>
                <input type="submit" class="btn btn-primary btn-block" />
                </fieldset>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <br/><br/><br/><br/>
    <th:block layout:include="fragments/footer"/>
  </body>
</html>
