<html>
  <head>
    <th:block layout:include="fragments/include"/>
    <title th:text="#{pet.view.list.title}"></title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-25685398-5', 'auto');
    ga('send', 'pageview');

  </script>
  </head>
  <body>
    <th:block layout:include="fragments/header"/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img style="width:320px;height:240px;" th:attr="src=@{${awsImageUrl} + ${pet.images.get(0).uuid}}"/>
              <div class="caption" align="center">
                <h3 th:text="${pet.name}"></h3>
                <p th:text="${beans.dateFormatter.format(pet.birthDate)}" />
                <p th:text="${pet.breed.name}" />
                <p th:text="${pet.dewormed}? #{pet.dewormed} : #{pet.not.dewormed}" />
                <p th:text="${pet.sterilized}? #{pet.sterilized} : #{pet.not.sterilized}" />
                <p th:text="${pet.vaccinated}? #{pet.vaccinated} : #{pet.not.vaccinated}" />
                <br/>
                <form id="description" th:action="@{/adoption/save}" th:object="${adoptionCommand}" method="post" class="form-horizontal">
                <fieldset>
                <label for="description"><h4 th:text="#{pet.description}"/></label>
                <textarea name="description" th:field="*{description}" rows="8" class="form-control" placeholder="Description"  id='description' />
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                <input type="hidden" th:value="${adoptionCommand.uuid}" name="uuid" />
                <br/><br/>
                <input type="submit" class="btn btn-primary btn-block" />
                </fieldset>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <br/><br/><br/><br/>
    <th:block layout:include="fragments/footer"/>
  </body>
</html>
