<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/third-party/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/style.css" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/plugins.css" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/demo.css" />
  <title th:text="#{user.view.create.title}"></title>
</head>
<body class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login-banner text-center">
          <img src="/assets/third-party/vetlog-theme/img/flex-admin-logo.png" th:src="@{/assets/third-party/vetlog-theme/img/flex-admin-logo.png}"/>
        </div>
        <div class="portlet portlet-green">
          <div class="portlet-heading login-heading">
            <div class="portlet-title">
              <h4 th:text="#{user.view.create.label}"/>
            </div>
            <div class="clearfix"></div>
          </div>          
          <div class="portlet-body">
            <form id="register" action="#" th:action="@{/Users/save}" th:object="${userCommand}" method="post"  class="form-horizontal">
              <div class="control-group">
                <label><h2>Usuario*</h2></label>
                <input type="text" th:field="*{username}" class="span9 search-query"/>
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
