<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/">
      <img src="/assets/third-party/vetlog-theme/img/flex-admin-logo.png" th:src="@{/assets/third-party/vetlog-theme/img/flex-admin-logo.png}"/>
    </a>
  </nav>
  <nav class="navbar-top" role="navigation">
    <div class="navbar-brand">
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Maintain your pet history organized</p>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{login}" class="btn btn-primary btn-lg"  role="button"><p th:text="#{login.action}"/></a>
      </div>
      <div sec:authorize="isAuthenticated()">
        <a th:href="@{logout}" class="btn btn-primary btn-lg"  role="button"><p th:text="#{login.logout}"/></a>
      </div>
    </div>
  </div>
</body>
