<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <th:block layout:include="fragments/include"/>
  </head>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-paw list toggle-menu"></i>
      </button>
      <a class="navbar-brand" th:href="@{/}"><img src="/assets/third-party/servizi-dog-theme/img/servizidog.png" alt="Servizi Dog" /></a>
    </div>

    <div sec:authorize="isAnonymous()">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" th:href="@{/}"><p th:text="#{home.name}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{login}"><p th:text="#{login.action}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{/pet/list}"><p th:text="#{home.list.name}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{/pet/create}"><p th:text="#{home.register.name}"/></a>
        </li>
      </ul>
    </div>
    </div>

    <div sec:authorize="isAuthenticated()">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" th:href="@{/}"><p th:text="#{home.name}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{logout}"><p th:text="#{login.logout}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{/pet/list}"><p th:text="#{home.list.name}"/></a>
        </li>
        <li>
          <a class="page-scroll" th:href="@{/pet/create}"><p th:text="#{home.register.name}"/></a>
        </li>
      </ul>
    </div>
    </div>

  </div>
</nav>
</html>
