<head> 
  <link rel="stylesheet" href="/assets/third-party/servizi-dog-theme/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/third-party/servizi-dog-theme/node_modules/font-awesome/font-awesome.less" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/style.css" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/plugins.css" />
  <link rel="stylesheet" href="/assets/third-party/vetlog-theme/css/demo.css" />
</head>	