<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vetlog Error Page</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .space-div {
            height: 200px;
        }
    </style>
</head>
<body>
<!-- Insert Header Fragment -->
<div th:insert="~{fragments/header}"></div>

<!-- Spacing Div -->
<div class="space-div"></div>

<!-- Standardized Message Format -->
<div align="center" th:if="${data}">
    <div th:data-testid="petListMessage"
         th:if="${data.message}"
         class="alert alert-success"
         th:text="${data.message}">
    </div>
</div>

<!-- Insert Footer Fragment -->
<div th:insert="~{fragments/footer}"></div>
</body>
</html>
