<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vetlog Error Page</title>
    <link href="/static/assets/servizi-dog-theme/bootstrap.min.css" rel="stylesheet">
    <style>
        .space-div {
            height: 200px;
        }
    </style>
</head>
<body>
<!-- Insert Header Fragment -->
<div th:insert="~{fragments/header}"></div>

<!-- Spacing Div -->
<div class="space-div"></div>

<!-- Standardized Message Format -->
<div style="text-align: center;" th:if="${data}">
    <div th:if="${data.message}"
         th:text="${data.message}"
         data-testid="errorMessage"
         class="alert alert-success">
    </div>
</div>

<!-- Insert Footer Fragment -->
<div th:insert="~{fragments/footer}"></div>
</body>
</html>
