<!DOCTYPE html>
<html>
<head>
<th:block layout:include="fragments/include"/>
</head>
<body>
  <th:block layout:include="fragments/header"/>
  <div class="container">
    <div class="row">
      <div th:if="${message}">
        <div align="center">
          <p style="color:blue;font-size:18px;" th:text="${message}"/>
          <br/><br/>
        </div>
      </div>
      <div class="col-md-4">
        <h4 th:text="#{home.register}" />
        <p th:text="#{home.register.label}" />
        <a th:href="@{pet/create}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
        <h4 th:text="#{home.log}" />
        <p th:text="#{home.log.label}" />
        <a th:href="@{petlog/create}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
        <h4 th:text="#{home.list.select.adoption}" />
        <p th:text="#{home.list.select.adoption.label}" />
        <a th:href="@{pet/giveForAdoption}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 th:text="#{home.list}" />
        <p th:text="#{home.list.label}" />
        <a th:href="@{pet/list}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h4 th:text="#{home.list.for.adoption}" />
        <p th:text="#{home.list.for.adoption.label}" />
        <a th:href="@{pet/listForAdoption}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
    </div>
  </div>
  <th:block layout:include="fragments/footer"/>
  <script th:src="@{/javascript/analytics.js}"/>
</body>
</html>
