<!DOCTYPE html>
<html>
<head>
<th:block layout:include="fragments/include"/>
</head>
<body>
  <th:block layout:include="fragments/header"/>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 th:text="#{home.register}" />
        <p th:text="#{home.register.label}" />
        <a th:href="@{pet/create}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
        <h4 th:text="#{home.log}" />
        <p th:text="#{home.log.label}" />
        <a th:href="@{petlog/create}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
        <h4>Adoption</h4>
        <p>Adopting a pet is a big step, find the right pet since it would be a member of your family.</p>
        <a class="btn btn-success" href="command-line" role="button">View details</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 th:text="#{home.list}" />
        <p th:text="#{home.list.label}" />
        <a th:href="@{pet/list}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <th:block layout:include="fragments/footer"/>
</body>
</html>
