<!DOCTYPE html>
<html>
<head>
<th:block layout:include="fragments/include"/>
</head>
<body>
  <th:block layout:include="fragments/header"/>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Register</h4>
        <p>Register all your pets, so you can check its healty care historial.</p>
        <a th:href="@{pet/create}" class="btn btn-success"><p th:text="#{button.action}"/></a>
      </div>
      <div class="col-md-4">
        <h4>Consult</h4>
        <p>Consult your pet historial, so you can keep up to date with its care.</p>
        <a class="btn btn-success" href="command-line" role="button">View details</a>
      </div>
      <div class="col-md-4">
        <h4>Adoption</h4>
        <p>Adopting a pet is a big step, find the right pet since it would be a member of your family.</p>
        <a class="btn btn-success" href="command-line" role="button">View details</a>
      </div>
    </div>
  </div>
  <th:block layout:include="fragments/footer"/>
</body>
</html>
